<%- partial('partials/learn_dropdown') %>
<!--<li>
  <a href="<%- url_for("/v2/guide/team.html") %>" class="nav-link team<%- page.path.match(/team\.html/) ? ' current' : '' %>">Team</a>
</li> -->
<li>
  <a href="https://github.com/i0natan/nodebestpractices/" target="_blank"><span class="fa fa-github"> @nodebestpractices</span></a>
</li>
<li>
  <a href="https://twitter.com/nodepractices/" target="_blank"><span class="fa fa-twitter"> @nodepractices</span></a>
</li>